org: fallen
app: ubigeo-aws
service: aws-ubigeo

provider:
  name: aws
  runtime: nodejs20.x

functions:

  getDepartamentos:
    handler: handler.getDepartamentos
    description: Lista todos los departamentos
    events:
      - httpApi:
          path: /departamentos
          method: get

  getDepartamento:
    handler: handler.getDepartamento
    description: Retorna un departamento con sus provincias
    events:
      - httpApi:
          path: /departamentos/{code}
          method: get

  getProvincia:
    handler: handler.getProvincia
    description: Retorna una provincia con sus distritos
    events:
      - httpApi:
          path: /provincias/{code}
          method: get

  getDistrito:
    handler: handler.getDistrito
    description: Retorna un distrito con su provincia y departamento
    events:
      - httpApi:
          path: /distritos/{code}
          method: get

  buscar:
    handler: handler.buscar
    description: Búsqueda por coincidencia, retorna árbol completo
    events:
      - httpApi:
          path: /buscar
          method: get
